.Resume {
    width: 80%;
    margin: 0px auto;
    padding: 20px;
    background-color: #bdfb04;
}
.box{
    width: 100%;
}
.box ul{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
    
.box ul li{
    list-style: none;
    margin: 10px auto;
}